In [23]:
import pandas as pd
data = pd.read_csv(r"glove.6B.100d.txt",sep = "/n", header=None, error_bad_lines=False)

D:\ProgramData\Anaconda3\envs\py37\lib\site-packages\pandas\util\_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)
Skipping line 52776: Expected 1 fields in line 52776, saw 2. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 142678: Expected 1 fields in line 142678, saw 2. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 143524: Expected 1 fields in line 143524, saw 2. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 150026: Expected 1 fields in line 150026, saw 2. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 152343: Expected 1 fields in line 152343, saw 2. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 161769: Expected 1 fields in line 161769, saw 2. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 179950: Expected 1 fields in line 179950, saw 2. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 247375: Expected 1 fields in line 247375, saw 2. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 253009: Expected 1 fields in line 253009, saw 2. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 270300: Expected 1 fields in line 270300, saw 2. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 301040: Expected 1 fields in line 301040, saw 2. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 320864: Expected 1 fields in line 320864, saw 2. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 333762: Expected 1 fields in line 333762, saw 2. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 335843: Expected 1 fields in line 335843, saw 2. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 337058: Expected 1 fields in line 337058, saw 3. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 338420: Expected 1 fields in line 338420, saw 2. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 338734: Expected 1 fields in line 338734, saw 2. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 338855: Expected 1 fields in line 338855, saw 2. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 341327: Expected 1 fields in line 341327, saw 2. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 362665: Expected 1 fields in line 362665, saw 2. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 394766: Expected 1 fields in line 394766, saw 2. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 399314: Expected 1 fields in line 399314, saw 2. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.

In [24]:
data

                                                        0
0       the -0.038194 -0.24487 0.72812 -0.39961 0.0831...
1       , -0.10767 0.11053 0.59812 -0.54361 0.67396 0....
2       . -0.33979 0.20941 0.46348 -0.64792 -0.38377 0...
3       of -0.1529 -0.24279 0.89837 0.16996 0.53516 0....
4       to -0.1897 0.050024 0.19084 -0.049184 -0.08973...
...                                                   ...
399973  chanty -0.15577 -0.049188 -0.064377 0.2236 -0....
399974  kronik -0.094426 0.14725 -0.15739 0.071966 -0....
399975  rolonda 0.36088 -0.16919 -0.32704 0.098332 -0....
399976  zsombor -0.10461 -0.5047 -0.49331 0.13516 -0.3...
399977  sandberger 0.28365 -0.6263 -0.44351 0.2177 -0....

[399978 rows x 1 columns]